{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="product-list">Product List</h1>
    <a href="{{ path('app_new') }}">New Product</a>
    <table border="1">
        <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Tags</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.tags|join(', ') }}</td>
                <td>
                    <a href="{{ path('app_edit', {'id': product.id}) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
